{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <p id="current-time">Загрузка времени...</p>
    <script src="{% static 'js/realtime.js' %}"></script>

    <form method="post" action="{% url 'start_interval' %}">
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary full-width">Старт</button>
        </div>
        <br>
    </form>

    <form method="post" action="{% url 'stop_interval' %}">
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary full-width">Стоп</button>
        </div>
    </form>

    <form method="POST" action="{% url 'add_manual_interval' %}">
        {% csrf_token %}
        <h2>Добавить новый интервал вручную</h2>
    </form>


    <div>
    <label for="start_time">Начало:</label>
    <input type="time" id="start_time" name="start_time" required>
    <label for="end_time">Конец:</label>
    <input type="time" id="end_time" name="end_time" required>
    <div>
        <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit" name="add_manual_interval">Добавить интервал вручную
            </button>
        </div>
    </div>



    <h2>Интервалы времени для {{ selected_date }}</h2>

    <form method="get" action="{% url 'home' %}">
        <label>
            <input type="date" name="date" value="{{ selected_date|date:'Y-m-d' }}">
        </label>
        <button type="submit">Выбрать дату</button>
    </form>

{##}

{#    <tbody>#}
{#    {% for interval in page_obj %}#}
{#        <tr>#}
{#            <td>#}
{#                <a href="{% url 'interval_detail' interval.id %}">#}
{#                    {{ interval.start_time }}#}
{#                </a>#}
{#            </td>#}
{#            <td>#}
{#                <a href="{% url 'interval_detail' interval.id %}">#}
{#                    {% if interval.end_time %}#}
{#                        {{ interval.end_time }}#}
{#                    {% else %}#}
{#                        Идет запись интервала#}
{#                    {% endif %}#}
{#                </a>#}
{#            </td>#}
{#            <td>#}
{#                <a href="{% url 'interval_detail' interval.id %}">#}
{#                    {{ interval.duration | duration_format }}#}
{#                </a>#}
{#            </td>#}
{#        </tr>#}
{#    {% empty %}#}
{#        <tr>#}
{#            <td colspan="3">Нет интервалов для этой даты.</td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#</tbody>#}


    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead class="table-dark text-center">
            <tr>
                <th scope="col">Старт</th>
                <th scope="col">Стоп</th>
                <th scope="col">Длительность</th>



            </tr>
            </thead>
            <tbody>
            {% for interval in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'interval_detail' interval.id %}">
                        {{ interval.start_time }}</a>

                    </td>
                    <td>
                        {% if interval.end_time %}
                            {{ interval.end_time }}
                        {% else %}
                            Идет запись интервала
                        {% endif %}
                    </td>
                    <td>{{ interval.duration | duration_format }}</td>
{#                    <td>#}
{#                        <form method="post" action="{% url 'delete_interval' interval.id %}">#}
{#                            {% csrf_token %}#}
{#                            <button type="submit" class="btn btn-danger">Удалить</button>#}
{#                        </form>#}
{#                    </td>#}
{#                    <td>#}
{#                        <form method="post" action="{% url 'update_interval' interval.id %}">#}
{#                            {% csrf_token %}#}
{#                            <button type="submit" class="btn btn-secondary">Редактировать</button>#}
{#                        </form>#}
{#                    </td>#}

                </tr>

{#                </tr>#}
            {% empty %}
                <tr>
                    <td colspan="3">Нет интервалов для этой даты.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'includes/pagination.html' %}
    </div>
    {#        <h2>Интервалы времени для {{ selected_date }} (Итоги дня: {{ daily_summaries|get_summary:selected_date }})</h2>#}
    {#    <h2>Интервалы времени для {{ selected_date }} </h2>#}
    {#    <h2>{{ daily_summaries|get_summary:selected_date|safe }})</h2>#}
    {#    <h2>Количество интервалов {{ daily_summaries|get_summary_interval_count:selected_date }}</h2>#}
    {#    <h2>Общее время за день</h2><h1>{{ daily_summaries|get_summary_total_time:selected_date }}</h1>#}

    <h2>Итоги дня</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead class="table-dark text-center">
            <tr>
                <th scope="col">Количество интервалов</th>
                <th scope="col">Итоговое время</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ daily_summaries|get_summary_interval_count:selected_date }}</td>
                <td>{{ daily_summaries|get_summary_total_time:selected_date }}</td>

            </tr>
            </tbody>
        </table>

    </div>
    {#    </body>#}
    {##}
    {#    </div>#}
    {#<h2>Итоги дня</h2>#}
    {#{% include 'time_tracking_main/daily_summary.html' %}#}
    {#</body>#}

{% endblock %}


