{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
    <br>
    <br>
    {% include 'includes/inegrations.html' %}

    <p id="current-time" style="font-size:2rem; text-align:center;">Загрузка времени...</p>
    <script src="{% static 'js/realtime.js' %}"></script>

    <form method="post" action="{% url 'start_interval' %}"
          hx-post="{% url 'start_interval' %}"
          hx-target="body"
          hx-swap="outerHTML">
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary full-width">Старт</button>
        </div>
        <br>
    </form>

    <form method="post" action="{% url 'stop_interval' %}"
          hx-post="{% url 'stop_interval' %}"
          hx-target="body"
          hx-swap="outerHTML">
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary full-width">Стоп</button>
        </div>
    </form>
    {#HTMX-атрибуты для кнопок "Старт" и "Стоп" — теперь при нажатии эти действия выполняются асинхронно, без полной перезагрузки страницы. Результат (например, обновление таблицы или интерфейса) будет подгружаться динамически#}
    <form method="POST" action="{% url 'add_manual_interval' %}"
          hx-post="{% url 'add_manual_interval' %}"
          hx-target="body"
          hx-swap="outerHTML">
        {% csrf_token %}
        <h2>Добавить новый интервал вручную</h2>
        <label for="start_time">Начало:</label>
        <input type="time" id="start_time" name="start_time" required>
        <label for="end_time">Конец:</label>
        <input type="time" id="end_time" name="end_time" required>
        <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit" name="add_manual_interval">Добавить интервал вручную</button>
        </div>
    </form>

    {#    <form method="POST" action="{% url 'add_manual_interval' %}">#}
    {#        {% csrf_token %}#}
    {#        <h2>Добавить новый интервал вручную</h2>#}
    {#    </form>#}


    {#    <div>#}
    {#    <label for="start_time">Начало:</label>#}
    {#    <input type="time" id="start_time" name="start_time" required>#}
    {#    <label for="end_time">Конец:</label>#}
    {#    <input type="time" id="end_time" name="end_time" required>#}
    {#    <div>#}
    {#        <div class="d-grid gap-2">#}
    {#            <button class="btn btn-success" type="submit" name="add_manual_interval">Добавить интервал вручную#}
    {#            </button>#}
    {#        </div>#}
    {#    </div>#}



    <h2>Интервалы времени для {{ selected_date }}</h2>

    <form method="get" action="{% url 'home' %}">
        <label>
            <input type="date" name="date" value="{{ selected_date|date:'Y-m-d' }}">
        </label>
        <button type="submit">Выбрать дату</button>
    </form>

    {##}

    {#    <tbody>#}
    {#    {% for interval in page_obj %}#}
    {#        <tr>#}
    {#            <td>#}
    {#                <a href="{% url 'interval_detail' interval.id %}">#}
    {#                    {{ interval.start_time }}#}
    {#                </a>#}
    {#            </td>#}
    {#            <td>#}
    {#                <a href="{% url 'interval_detail' interval.id %}">#}
    {#                    {% if interval.end_time %}#}
    {#                        {{ interval.end_time }}#}
    {#                    {% else %}#}
    {#                        Идет запись интервала#}
    {#                    {% endif %}#}
    {#                </a>#}
    {#            </td>#}
    {#            <td>#}
    {#                <a href="{% url 'interval_detail' interval.id %}">#}
    {#                    {{ interval.duration | duration_format }}#}
    {#                </a>#}
    {#            </td>#}
    {#        </tr>#}
    {#    {% empty %}#}
    {#        <tr>#}
    {#            <td colspan="3">Нет интервалов для этой даты.</td>#}
    {#        </tr>#}
    {#    {% endfor %}#}
    {#</tbody>#}

    {#        <div>#}
    {#            {% for interval in intervals %}#}
    {#                <tr id="interval-{{ interval.id }}">#}
    {#                    <td id="interval-{{ interval.id }}-start">#}
    {#                        <button class="btn btn-secondary btn-sm"#}
    {#                                hx-get="{% url 'edit_interval_field' interval.id 'start_time' %}"#}
    {#                                hx-target="#interval-{{ interval.id }}-start"#}
    {#                                hx-swap="outerHTML">#}
    {#                            ✏️ Старт#}
    {#                        </button>#}
    {#                        {{ interval.start_time }}#}
    {#                    </td>#}
    {#                    <td id="interval-{{ interval.id }}-end">#}
    {#                        <button class="btn btn-secondary btn-sm"#}
    {#                                hx-get="{% url 'edit_interval_field' interval.id 'end_time' %}"#}
    {#                                hx-target="#interval-{{ interval.id }}-end"#}
    {#                                hx-swap="outerHTML">#}
    {#                            ✏️ Стоп#}
    {#                        </button>#}
    {#                        {{ interval.end_time }}#}
    {#                    </td>#}
    {#                    <!-- другие столбцы -->#}
    {#                </tr>#}
    {#            {% endfor %}#}
    {#        </div>#}

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead class="table-dark text-center">
            <tr>
                <th scope="col">Старт</th>
                <th scope="col">Стоп</th>
                <th scope="col">Длительность</th>
                <th scope="col">Действие</th>


            </tr>
            </thead>
            <tbody>
            {% for interval in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'interval_detail' interval.id %}">
                            {{ interval.start_time }}</a>

                    </td>
                    <td>
                        {% if interval.end_time %}
                            {{ interval.end_time }}
                        {% else %}
                            Идет запись интервала
                        {% endif %}
                    </td>
                    <td>{{ interval.duration | duration_format }}</td>
                    <!--  Ячейка кнопок действия -->
                    <td>
                        {#Рдактировать                        #}
                        <button class="disbtn"
                                hx-get="{% url 'update_interval' interval.id %}"
                                hx-target="closest tr"
                                hx-swap="outerHTML">
                            <span style="font-size: 1.2em;">✏️</span>

                        </button>

                        <!-- Кнопка "Delete" -->
                        <button class="disbtn"

                                hx-delete="{% url 'interval_delite_htmx' interval.id %}"
                                hx-target="closest tr"
                                hx-swap="outerHTML"
                                hx-confirm="Точно удалить интервал?">
                            <span style="font-size: 1.2em;">🗑️</span>

                        </button>
                    </td>

                </tr>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет интервалов для этой даты.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'includes/pagination.html' %}
    </div>
    {#        <h2>Интервалы времени для {{ selected_date }} (Итоги дня: {{ daily_summaries|get_summary:selected_date }})</h2>#}
    {#    <h2>Интервалы времени для {{ selected_date }} </h2>#}
    {#    <h2>{{ daily_summaries|get_summary:selected_date|safe }})</h2>#}
    {#    <h2>Количество интервалов {{ daily_summaries|get_summary_interval_count:selected_date }}</h2>#}
    {#    <h2>Общее время за день</h2><h1>{{ daily_summaries|get_summary_total_time:selected_date }}</h1>#}

    <h2>Итоги дня</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead class="table-dark text-center">
            <tr>
                <th scope="col">Количество интервалов</th>
                <th scope="col">Итоговое время</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ daily_summaries|get_summary_interval_count:selected_date }}</td>
                <td>{{ daily_summaries|get_summary_total_time:selected_date }}</td>

            </tr>
            </tbody>
        </table>

    </div>
    {#    </body>#}
    {##}
    {#    </div>#}
    {#<h2>Итоги дня</h2>#}
    {#{% include 'time_tracking_main/daily_summary.html' %}#}
    {#</body>#}
    <script>
        // Функция для массового изменения атрибута у всех элементов с заданным классом
        function cngElementsAtr(cls, atr, val) {
            var elems = document.getElementsByClassName(cls); // Получаем все элементы с классом cls
            for (var i = 0; i < elems.length; i++) {
                elems[i][atr] = val; // Устанавливаем атрибут atr в значение val
            }
        }

        // Слушаем событие htmx:afterRequest (после любого HTMX-запроса)
        document.body.addEventListener('htmx:afterRequest', (event) => {
            let path_str = event.detail.pathInfo.requestPath; // Получаем путь запроса
            if (path_str.includes('create_interval')) { // Если путь содержит create_interval
                cngElementsAtr('clrtxt', 'value', ''); // Очищаем значения у элементов с классом clrtxt
            } else if (path_str.includes('update_interval')) { // Если путь содержит update_interval
                if (event.detail.requestConfig.verb === 'get') { // Если это GET-запрос (открытие формы)
                    cngElementsAtr('disbtn', 'disabled', true); // Делаем кнопки с классом disbtn неактивными
                } else { // Если это не GET-запрос (например, POST после сохранения)
                    cngElementsAtr('disbtn', 'disabled', false); // Включаем кнопки обратно
                }
            } else if (path_str.includes('interval_detail_new')) { // Если путь содержит interval_detail_new
                cngElementsAtr('disbtn', 'disabled', false); // Включаем кнопки с классом disbtn
            }
        });
    </script>
{% endblock %}


