{% extends 'base.html' %}

{% block title %}
  Создание нового пароля
{% endblock %}

{% block content %}
  {% if validlink %}
    <h1>Введите новый пароль!</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Введите новый пароль" />
    </form>
  {% else %}
    <p>Ссылка для сброса пароля оказалась недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый пароль для сброса.</p>
  {% endif %}
{% endblock %}
