{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Вход на сайт</h4>
            </div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                {{ form.as_p }}
                <div class="d-grid gap-2 d-md-block mt-2">
                    <button type="submit" class="btn btn-dark">войти</button>
                </div>
            </form>

        </div>
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>

    </div>
    <div class="container d-flex justify-content-center">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-light mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-google"
                 viewBox="0 0 16 16">
                <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
            </svg>
        </a>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-light mx-2">
            <i class="fa-brands fa-vk" style="font-size: 24px;"></i>
        </a>
    </div>

    <style>
        .btn-light {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px; /* Установите фиксированную ширину для кнопок */
            height: 50px; /* Установите фиксированную высоту для кнопок */
            border-radius: 50%; /* Сделать кнопки круглыми */
        }

        .bi-google, .fa-vk {
            width: 24px; /* Установите одинаковую ширину для иконок */
            height: 24px; /* Установите одинаковую высоту для иконок */
            transition: transform 0.2s; /* Пример анимации */
        }

        .btn-light:hover .bi-google, .btn-light:hover .fa-vk {
            transform: scale(1.1); /* Увеличение иконки при наведении */
        }
    </style>


{% endblock %}