<div class="d-flex justify-content-center">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0 align-items-center">
      <div class="col-md-4">
        <a href="https://devready.ru" target="_blank" rel="noopener">
          <img src="https://devready.ru/static/img/logo.png" class="img-fluid rounded-start" alt="DevReady логотип">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://devready.ru" target="_blank" rel="noopener">DevReady — сообщество разработчиков</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>