{% load custom_filters %}

<tr>
  <td>{{ interval.start_time|time:"H:i" }}</td>
  <td>{{ interval.end_time|time:"H:i" }}</td>
  <td>{{ interval.duration|duration_format }}</td>
  <td>
    <button class="disbtn btn-primary"
            hx-get="{% url 'update_interval' interval.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            title="Редактировать">
      <span style="font-size: 1.2em;">✏️</span>
    </button>
    <button class="disbtn btn-danger"
            hx-delete="{% url 'interval_delite_htmx' interval.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            title="Удалить">
      <span style="font-size: 1.2em;">🗑️</span>
    </button>
  </td>
</tr>

